extends layout

block content
section#content.container    
    div.row
        div.col-sm-8
            each val in doc
                div.blog-container
                    div.blog-title
                        a(href='/article/#{val.customURL}')= val.title
                    div.blog-wrap.blog-abstract-info.clearfix
                        span
                            i.fa.fa-eye
                            span= val.browse + ' 浏览量'  
                        span
                            i.fa.fa-comment
                            span= val.reply + ' 评论' 
                        span
                            i.fa.fa-tag
                            each tag in val.tagArr
                                a(href='/tag/#{tag}').blog-tag= tag
                        span
                            i.fa.fa-columns
                            each c in val.collectArr
                                a(href='/collect/cid/#{c}').blog-tag= c
                         span.time
                            i.fa.fa-calendar
                            span= val.createTime1
                    div.blog-abstract!= val.content
                    div.blog-bottom
                        a.more-link.btn-get-btn3(href='/article/#{val.customURL}') 阅读全文
            div.page
                ul(class="pagination")
                    if curPage != 1
                        li
                            a(href="/?page=#{curPage - 1}") &laquo;
                    else
                        li.disabled
                            a(href="javascript:void(0)") &laquo;
                    -for (var i = 1; i <= totPage; i++)
                        if curPage == i
                            li.active
                                a(href='/?page=#{i}')= i
                        else
                            li
                                a(href='/?page=#{i}')= i
                    if curPage < totPage
                        li
                            a(href="/?page=#{curPage + 1}") &raquo;
                    else
                        li.disabled
                            a(href="javascript:void(0)") &raquo;
        div.col-sm-4.hidden-xs
            include ./includes/sidebar.jade
            include ./includes/friendLinks.jade