doctype html
html
    head
        link(rel='stylesheet',href='/css/pace.preloader.css')
        link(rel='stylesheet',href='/css/owl.carousel.css')
        link(rel='stylesheet',href='/css/home-slider.css')
        include ./includes/head
    body
        include ./includes/minheader
        section#mastwrap.mast-wrap.sliding
            section#home.home-section.page-section.highlight
                section.inner-section
                    div.home-carousel
                        div#home-owl-demo.home-owl
                            div.item
                                div.bg1.text-center
                                    div.shadow
                                        div.home-owl-content.col-md-offset-2.col-md-8
                                            div.heading
                                                h1 通过阅读来获取思想独立，写出自己对生活的见解
                                            div.motto
                                                span.text Let's get independent thought by reading and write their insights on life.
                            div.item
                                div.bg2.text-center
                                     div.shadow
                                        div.home-owl-content.col-md-offset-2.col-md-8
                                            div.heading
                                                h1 你回首看得越远，你向前也会看得越远
                                            div.motto
                                                span.text The farther backward you can look, the farther forward you will see.
                            div.item
                                div.bg3.text-center
                                     div.shadow
                                        div.home-owl-content.col-md-offset-2.col-md-8
                                            div.heading
                                                h1 昨天已经过去，明天还没到来。只有今天是一份礼物
                                            div.motto
                                                span.text Yesterday is history, tomorrow is a mystery, but today is a gift. 
                    a.scroll-link(data-soffset="50" href="#content")
                        div.mouse-icon
                            div.scroll-down
            include ./includes/header
            section#content.container    
                div.row
                    div.col-sm-8
                        each val in doc
                            div.blog-container
                                div.blog-title
                                    a(href='/article/#{val.customURL}')= val.title
                                div.blog-wrap.blog-abstract-info.clearfix
                                    span
                                        i.fa.fa-eye
                                        span= val.browse + ' 浏览量'  
                                    span
                                        i.fa.fa-comment
                                        span= val.reply + ' 评论' 
                                    span
                                        i.fa.fa-tag
                                        each tag in val.tagArr
                                            a(href='/tag/#{tag}').blog-tag= tag
                                    span
                                        i.fa.fa-columns
                                        each c in val.collectArr
                                            a(href='/collect/cid/#{c}').blog-tag= c
                                     span.time
                                        i.fa.fa-calendar
                                        span= val.createTime1
                                div.blog-abstract!= val.content
                                div.blog-bottom
                                    a.more-link.btn-get-btn3(href='/article/#{val.customURL}') 阅读全文
                        div.blog-container
                                a 查看更多
                    div.col-sm-4.hidden-xs
                        include ./includes/sidebar.jade
                        include ./includes/friendLinks.jade
            include ./includes/footer
        script(src='/js/pace.min.js')
        include ./includes/js
        script(src='/js/slidingmenu.js')
        script(src='/js/scroll.js')
        



