doctype html
html
    head
        link(rel='stylesheet',href='/css/pace.preloader.css')
        link(rel='stylesheet',href='/css/owl.carousel.css')
        link(rel='stylesheet',href='/css/home-slider.css')
        include ./includes/head
    body
        include ./includes/minheader
        section#mastwrap.mast-wrap.sliding
            section#home.home-section.page-section.highlight
                section.inner-section
                    div.home-carousel
                        div#home-owl-demo.home-owl
                            div.item
                                div.bg1.text-center
                                    div.shadow
                                        div.home-owl-content.col-md-offset-2.col-md-8
                                            div.heading
                                                h1 CREATIVE DESIGN
                                            div.motto
                                                span.text HTML 5
                                                span.separator  . 
                                                span.text CSS 3 
                                                span.separator . 
                                                span.text JAVA SCRIPT
                            div.item
                                div.bg2.text-center
                                     div.shadow
                                        div.home-owl-content.col-md-offset-2.col-md-8
                                            div.heading
                                                h1 EXCELLENT
                                            div.motto
                                                span.text RESPONSIVE SLIDER
                                                span.separator
                            div.item
                                div.bg3.text-center
                                     div.shadow
                                        div.home-owl-content.col-md-offset-2.col-md-8
                                            div.heading
                                                h1 START YOUR PAGE
                                            div.motto
                                                span.text EASY CUSTOMIZE
                                                span.separator 
                    a.scroll-link(data-soffset="50" href="#about")
                        div.mouse-icon
                            div.scroll-down
            include ./includes/header
            section.container    
                div#content.row
                    div.col-sm-8
                        each val in doc
                            div.blog-container
                                div.blog-title
                                    a(href='/article/#{val.customURL}')= val.title
                                div.blog-wrap.blog-abstract-info.clearfix
                                    span
                                        i.fa.fa-eye
                                        span= val.browse + ' 浏览量'  
                                    span
                                        i.fa.fa-comment
                                        span= val.reply + ' 评论' 
                                    span.blog-tag.glyphicon.glyphicon-tags
                                        i.fa.fa-tag
                                        each tag in val.tagArr
                                            a(href='/tag/#{tag}').blog-tag= tag
                                    span.blog-tag.glyphicon.glyphicon-folder-open
                                        i.fa.fa-columns
                                        each c in val.collectArr
                                            a(href='/collect/cid/#{c}').blog-tag= c
                                     span
                                        i.fa.fa-calendar
                                        span= val.createTime1
                                div.blog-abstract!= val.content
                                div.blog-bottom
                                    a.more-link(href='/article/#{val.customURL}') more>>
                    div.col-sm-4.hidden-xs
                        include ./common/ownerInfo.jade
                        include ./common/sidebar.jade
                        include ./common/friendLinks.jade
            include ./includes/footer
        include ./includes/js
        script(src='/js/slidingmenu.js')
        script(src='/js/pace.min.js')



