extends ../layout
block content
  .col-xs-12.col-sm-9
    h3.text-center.blogmark= collect           
    .row
      each val in doc
        .effect-zoe.articlelist.mb20.a-fadeinT
          .content
            h2= val.title
            |                             
            p.data
              span
                i.fa.fa-eye= ' 浏览量 ' + val.browse
              span
                i.fa.fa-comment= ' 评论数 ' + val.reply
              each tag in val.tagArr
                span
                  a(href='/tag/#{tag}')
                    i.fa.fa-tag= ' ' + tag
              each c in val.collectArr                                 
                span
                  a(href='/collect/cid/#{c}')
                    i.fa.fa-columns= ' ' + c                                            
            p.details!= val.content
            |                             
            p.visible-xs.mobilefigcaption
              a(href='/article/#{val.customURL}') &#x8BE6;&#x7EC6;&#x9605;&#x8BFB;
          figcaption
            h2.hidden-xs
              a(href='/article/#{val.customURL}') &#x8BE6;&#x7EC6;&#x9605;&#x8BFB;                   
  include ../includes/sidebar           
block js
  script(src='/js/tagscloud.js')
